**************************** WARNING ******************************
* THIS IS A {{ company_name }} OWNED & MANAGED SYSTEM DESIGNATED FOR
* {{ company_name }} AUTHORIZED BUSINESS ONLY. UNAUTHORIZED USE OF THIS
* MACHINE IS PROHIBITED. {{ company_name }} RESERVES THE RIGHT TO MONITOR
* ALL SYSTEM USE TO ENSURE COMPLIANCE WITH SECURITY POLICY.
* BY PROCEEDING, YOU CONSENT TO THESE TERMS & CONDITIONS.
**************************** WARNING ******************************

